*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  flex-direction: column;
}

.notes__css{
  font-family: "Satisfy", cursive;
  font-size: 1.2rem;
}

.container{
  max-width: 600px;
  width: 90%;
}

input, button{
  font-family: "Quicksand", sans-serif;
  display: block;
}

.compsDisplay{
  text-align: center;
  font-size: 5rem;
}

.scores__display{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

input{
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.input__box p{
  color: red;
  position: absolute;
  top: 3rem;
  right: 0;
  
}

.input__box{
  margin-bottom: 30px;
  position: relative;
}

.js__btn{
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
}

.error-info{
  font-size: .9rem;
  display: none;
  transition: all .1s ease-in;
}

.dice__images{
  width: 100px;
}

header{
  padding-block: 25px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  max-width: 600px;
  width: 90%;
  position: relative;
}

.cashout__btn{
  display: flex;
  align-items: center;
  padding: 1px 10px;
  gap: 10px;
  cursor: pointer;
}

.cashout__price{
  font-size: 1.5rem;
  font-weight: 500;
}

.cash{
  display: flex;
  align-items: center;
  gap: 20px;
}

.message__board{
  position: absolute;
  top: 5rem;
  right: 0;
  font-size: .8rem;
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: none;
  transition: all .1s ease-in-out;
}